.sidebar-btn {
    background-color: transparent;
    border: none;
    color: #333; /* o el color que prefieras para el ícono y el texto */
    font-size: 16px;
    padding: 5px 10px; 
    color: #fff;
    margin-right: 40px !important;
}

.minimal-sidebar {
    background-color: #fff; /* o el color que prefieras para el fondo del sidebar */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1); /* sombra suave */
}

.minimal-sidebar .offcanvas-header {
    border: none; /* sin borde en la cabecera */
}

.minimal-sidebar ul {
    list-style: none; /* quitar viñetas de la lista */
    padding: 0;
}

.minimal-sidebar ul li {
    padding: 40px;
}

.minimal-sidebar a {
    text-decoration: none;
    color: #333; /* o el color que prefieras para los enlaces */
}


